.svelte-yl6jh0 {
  margin: 0;
}
.main.svelte-yl6jh0 {
  overflow-x: hidden;
}
.horizontal-sliders.svelte-yl6jh0 {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: hidden;
}
.slide.svelte-yl6jh0 {
  height: 80vh;
}
.next-block.svelte-yl6jh0 {
  height: 100vh;
}
