.controls.svelte-16ohf36.svelte-16ohf36 {
  position: absolute;
  bottom: 4%;
  left: 4%;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.parent.svelte-16ohf36.svelte-16ohf36 {
  width: 400px;
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #313949;
  box-shadow: 0 0 10px #0000001a;
  border: 1px solid hsl(220 20% 28%);
  border-radius: 1rem;
  overflow: hidden;
}
.parent.svelte-16ohf36 > span.svelte-16ohf36 {
  font-weight: 700;
  font-size: 2rem;
}
.parent.svelte-16ohf36 > .child.svelte-16ohf36 {
  padding: 1rem;
  background-color: #394356;
  box-shadow: 0 0 10px #0000001a;
  border: 1px solid hsl(220 20% 32%);
  border-radius: 1rem;
}
.notifications.svelte-1r0agn5.svelte-1r0agn5 {
  position: relative;
}
.notifications.svelte-1r0agn5 > .count.svelte-1r0agn5 {
  width: 48px;
  height: 48px;
  position: absolute;
  top: -10px;
  right: -10px;
  display: grid;
  place-content: center;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: tomato;
  background-color: #fff;
  border-radius: 50%;
}
.notifications.svelte-1r0agn5 > .bell.svelte-1r0agn5 {
  width: 140px;
  height: 140px;
}
